body {
    margin: 0;
    padding: 0;
    background-image: url(images/app\ bg.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-container {
    width: 80%;
    height: 95%;
    margin: 0 auto;
    padding: 10px;
    background-image: url(images/containerBg.png);
    background-size: cover;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.freddie {
    width: 60px;
    margin-top: 20px;
}

.main-container h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
    margin: 0;
}

.main-container h2{
    font-family: 'Marcellus SC', serif;
}

.input1 {
    max-width: 700px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background-color: rgb(90, 92, 93);
    padding: 10px;
    vertical-align: top;
    resize: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Ibarra Real Nova', serif;
}

.input-container{
    display: flex;
    gap: 10px;
}

.from{
    width: 80px;
    padding: 10px 25px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Marcellus SC', serif;
    font-size: 17px;
    background-color: rgba(246, 237, 226, 0.813);
    color: black;
    border: 2px solid black;
}

.from-span{
    position: relative;
    left: 20px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(136, 109, 73);
}

.to{
    width: 80px;
    padding: 10px 25px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Marcellus SC', serif;
    font-size: 17px;
    background-color: rgba(246, 237, 226, 0.813);
    color: black;
    border: 2px solid black;
}

.to-span{
    position: relative;
    left: -100px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(136, 109, 73);
}

button {
    width:80%;
    max-width: 300px;
    padding: 15px 0;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Allerta Stencil', sans-serif; 
    font-weight: bold;
    color: rgba(8, 8, 8, 0.959);
    background-color: rgba(133, 137, 133, 0.712);
    transition: 0.2s ease-in-out;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
}

button:hover {
    background-color: rgba(29, 144, 29, 0.712);
    color: whitesmoke;
    border: 2px solid rgba(9, 9, 9, 0.712);
    cursor: pointer;
}

.Endorsements {
    background: linear-gradient(black, lightblue);
    border: 2px solid black;
    width: 100%;
    max-height: 300px;
    border-radius: 5px;
    color: antiquewhite;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap-reverse;
    list-style: none;
}

li {
    margin: 15px;
    font-family: 'Marcellus SC', serif;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.696);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    padding: 10px;
    color: black;
    transition: 0.3s ease-in-out;
    flex-grow: 1;
}

.span1{
    font-weight: bold;
    float: left;
    color: rgb(62, 43, 27);
}

.span2{
    font-weight: bold;
    float: right;
    color: rgb(62, 43, 27);
}

.span3 img{
    width: 30px;
    float: left;
    transition: 0.3s ease-in-out;
}

.span3 img:hover{
    width: 30px;
    float: left;
    transform: scale(1.2);
    cursor: pointer;
}

.theLabel{
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        background-image: url(images/app\ bg.png);
        background-size: cover;
        background-position: center;
        height: 100vh; /* Set the height to cover the entire viewport */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-container h1 {
        font-family: 'Great Vibes', cursive;
        font-size: 30px;
        margin: 0;
    }

    .input-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .from{
        width: 80px;
        padding: 10px 25px;
        text-align: center;
        border-radius: 10px;
        font-family: 'Marcellus SC', serif;
        font-size: 17px;
        background-color: rgba(246, 237, 226, 0.813);
        color: black;
        border: 2px solid black;
    }

    .to{
        width: 80px;
        padding: 10px 25px;
        text-align: center;
        border-radius: 10px;
        font-family: 'Marcellus SC', serif;
        font-size: 17px;
        background-color: rgba(246, 237, 226, 0.813);
        color: black;
        border: 2px solid black;
    }

    .input1 {
        max-width: 400px;
        width: 80%;
        height: 50px;
        margin-bottom: 20px;
        background-color: rgb(90, 92, 93);
        padding: 10px;
        vertical-align: top;
        resize: none;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 10px;
        font-size: 15px;
        font-family: 'Marcellus SC', serif;
        color: white;
    }

    .Endorsements {
        background: linear-gradient(black, lightblue);
        border: 2px solid black;
        width: 100%;
        max-width: 550px;
        max-height: 300px;
        border-radius: 5px;
        color: antiquewhite;
        margin: 0 auto;
        margin-bottom: 20px;
        overflow-x: auto;
        scroll-behavior: smooth;
    }
    
}
